<div class="container text-center mt-5">
    <h1 class="display-4">Bienvenue dans mon jeu !</h1>
    <p class="lead">Le but du jeu est simple : cliquez le plus rapidement possible sur l'image qui se déplace à chaque clic. Vous devez être rapide !</p>
  
    <div class="mt-4">
      <h3>Instructions :</h3>
      <ul class="list-unstyled">
        <li><strong>- Entrez votre pseudo pour commencer.</strong></li>
        <li><strong>- Cliquez sur l'image qui va se déplacer après chaque clic.</strong></li>
        <li><strong>- Le but : cliquer le plus rapidement possible sur l'image !</strong></li>
      </ul>
    </div>
    
    <!-- Affichage du bouton pour démarrer le jeu -->
    <div class="mt-5">
      <button class="btn btn-primary btn-lg" (click)="startGame()">Commencer la partie</button>
    </div>
  </div>
  